@model jeudontonestlehero.Core.Data.Models.Reponse

@{
    ViewData["Title"] = "Add";
    List<jeudontonestlehero.Core.Data.Models.Question> questions = null;
    questions = (List<jeudontonestlehero.Core.Data.Models.Question>)ViewBag.MesQuestions;
    var ItemsQuestions = questions.Select(
        item => new SelectListItem()
        {
            Text = item.Titre,
            Value = item.QuestionId.ToString()
        }
        ).ToList();
    }

    <h1>Add</h1>

    <h4>Reponse</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Add">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="QuestionId" class="control-label"></label>
                    <select asp-for="QuestionId" asp-items="ItemsQuestions"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
